$c--white: #fff;
$c--greyDark: #676767;
$c--blackLight: #191919;
$c--grey: #333;

body {
  background-color: $c--white;
  color: $c--grey;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  transition: all .3s ease;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.mode {

    &__dark {
      background-color: $c--grey;
      color: $c--white;

      h1 {
        color: $c--white;
      }

      .btn-dark {
        background-color: $c--blackLight;
        border-color: $c--blackLight;
      }

      .nav {

        &__layout {

          button {
            color: $c--white;
          }
        }
      }

      .article {

        &__item {
          background-color: $c--blackLight;

          a {
            color: $c--white;
          }  
        }

        &__section {
          span {
            background: $c--greyDark;
            color: $c--white;
          }
        }
      }

      .loader {
        color: $c--white;
        background: $c--white;

        &:before,
        &:after {
          color: $c--white;
          background: $c--white;
        }
      }
    }
  }
}

h1 {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  margin: 50px 0;
}